.calendar {
    width: 100%;
    font-size: 1em;

    $margin: 0px;//10px;
    margin: $margin;

    >.fc {
        max-height: calc(100vh - ($margin * 2));
    }

    .fc-day {
        background-color: rgba(0, 0, 0, .04) !important;

        &.fc-day-today {
            background-color: transparent !important;
        }
    }

    .fc-toolbar {
        margin-bottom: 0 !important;
    }
    
    .fc-event {
        margin-left: 4px !important;
        margin-right: 4px !important;
        border-radius: 3px !important;

        // Date "extender"
        /*&::before, &::after {
            content: none !important;
        }*/

        .fc-event-main {
            overflow: hidden;
        }
    }

    .fc-col-header-cell {
        vertical-align: bottom !important;
    }

    .fc-daygrid table thead th {
        vertical-align: top !important;

        div span {
            padding-top: 8px;
            padding-bottom: 8px;
            
            font-size: 1em;
        }
    }

    .fc-timeline-header-row div a {
        font-size: 1em;
    }

    .fc-daygrid table thead div * {
        border-bottom: none !important;
    }

    .fc-daygrid table tbody, .fc-daygrid table td {
        border-top: none !important;
    }

    .fc-daygrid tbody > tr > td > div {
        padding-top: 10px;
    }

    // Resources title adjustment
    .fc-datagrid-cell-frame {
        justify-content: center !important;
    }
    
    div.fc-datagrid-cell-cushion.fc-scrollgrid-sync-inner {
        background-color: transparent !important;
    }

    .fc-timegrid-slot-label-frame {
        text-align: center;
    }

    .timeslot-small, .timeslot-large {
        display: block;
        text-align: center;
        margin: 0 auto;

        padding-left: 24px;
        padding-right: 24px;
    }

    td:has(.timeslot-small) {
        border-top: none;
        border-bottom: none;
    }

    .timeslot-small {
        opacity: .7;
    }

    // All day header
    .fc-timegrid-axis-frame.fc-timegrid-axis-frame-liquid {
        justify-content: center;
        text-align: center;
    }

    // Top left borders
    .fc-col-header thead {
        :first-child .fc-timegrid-axis {
            border-bottom-width: 0;
        }

        :nth-child(2) .fc-timegrid-axis {
            border-top-width: 0;
        }
    }
}