.calendar {
    width: 100%;
    font-size: 1em;

    $margin: 0px;//10px;
    margin: $margin;

    >.fc {
        max-height: calc(100vh - ($margin * 2));
    }

    .fc-day {
        //background-color: transparent !important;

        /*&.fc-day-today {
            background-color: transparent !important;
        }*/

        &.fc-col-header-cell {
            background-color: transparent !important;
            border: none !important;
            padding: 20px 0 !important;
        }
    }
    
    .fc-scrollgrid-section:has(.fc-timegrid-divider.fc-cell-shaded) {
        display: none;
    }

    /*.fc-scrollgrid-section.fc-scrollgrid-section-body td:has(.jac-all-day) {
        //border: none;
    }*/

    .jac-all-day {
        text-align: center;
    }
    
    .fc .fc-scrollgrid {
        border-collapse: collapse;
    }

    .fc-scrollgrid-section.fc-scrollgrid-section-body:has(.jac-all-day), .fc-scrollgrid>tbody>tr:first-child>td:nth-child(2) {
        background: #F5F5F5;
        border-bottom: 1px solid rgba(0, 0, 0, .3);

        >td {
            border-right: 1px solid rgba(0, 0, 0, .3) !important;
        }
    }

    tbody>tr>td.fc-timegrid-slot.fc-timegrid-slot-label.fc-scrollgrid-shrink, .fc-view>table>tbody>.fc-scrollgrid-section>td:has(.fc-timegrid-axis-chunk) {
        background: #F5F5F5;
        border-right: 1px solid rgba(0, 0, 0, .3) !important;
    }

    .fc-timegrid-axis.fc-scrollgrid-shrink {
        border-right: 1px solid rgba(0, 0, 0, .3) !important;
    }

    .fc-timegrid-axis-frame.fc-scrollgrid-shrink-frame {
        justify-content: center;
    }

    .fc-timegrid-event-harness a {
        margin: 1px 2px !important;
    }
    
    .fc-toolbar {
        margin-bottom: 0 !important;
    }

    .fc-scrollgrid.fc-scrollgrid-liquid {
        border-left: none !important;
    }

    /*.fc-theme-standard .fc-scrollgrid {
        //border: none;
    }*/

    .fc-timegrid-col-bg:has(.calendar-highlight) {
        .fc-timegrid-bg-harness .fc-highlight {
            opacity: 0;
        }
    }

    .fc-view-harness.fc-view-harness-active:not(:has(.fc-daygrid)) {
        margin-left: 10px;
    }

    .fc-view-harness.fc-view-harness-active tbody {
        border-left: 1px solid rgba(0, 0, 0, .3) !important;
    }

    .fc-event {
        margin-left: 4px !important;
        margin-right: 4px !important;
        border-radius: 3px !important;

        // Date "extender"
        /*&::before, &::after {
            content: none !important;
        }*/

        .fc-event-main {
            overflow: hidden;
        }
    }

    .fc-col-header-cell {
        vertical-align: bottom !important;
    }

    .fc-daygrid table thead th {
        vertical-align: top !important;

        div span {
            padding-top: 8px;
            padding-bottom: 8px;
            
            font-size: 1em;
        }
    }

    .fc-timeline-header-row div a {
        font-size: 1em;
    }

    .fc-daygrid table thead div * {
        border-bottom: none !important;
    }

    .fc-daygrid table tbody, .fc-daygrid table td {
        border-top: none !important;
    }

    .fc-daygrid tbody > tr > td > div {
        padding-top: 10px;
    }

    // Resources title adjustment
    .fc-datagrid-cell-frame {
        justify-content: center !important;
    }
    
    div.fc-datagrid-cell-cushion.fc-scrollgrid-sync-inner {
        background-color: transparent !important;
    }

    .fc-timegrid-slot-label-frame {
        text-align: center;
    }

    .timeslot-small, .timeslot-large {
        display: block;
        text-align: center;
        margin: 0 auto;

        padding-left: 24px;
        padding-right: 24px;
    }

    td:has(.timeslot-small) {
        border-top: none;
        border-bottom: none;
    }

    .timeslot-small {
        opacity: .7;
    }

    .fc-multimonth-header-table { // for multiMonthYear, conflicts with other views
        border-bottom: 1px solid rgba(0, 0, 0, .3) !important;
    }

    .fc-timeline-slot.fc-timeline-slot-label.fc-day {
        border-bottom: none !important;
    }

    .fc-scrollgrid-section.fc-scrollgrid-section-header th {
       border-bottom: 1px solid rgba(0, 0, 0, .3);
    } 

    .fc-col-header-cell.fc-resource {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        font-weight: 500;
        font-size: small;
    }
    
    .fc-col-header-cell {
        border-bottom: none !important;
    }

    .fc-datagrid-cell {
        border-bottom: none !important;
    }

    .fc-timegrid-axis {
        border: none;
    }

    thead > tr:last-child > .fc-timegrid-axis {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, .3) !important;
    }

    // All day header
    .fc-timegrid-axis-frame.fc-timegrid-axis-frame-liquid {
        justify-content: center;
        text-align: center;
    }

    // Top left borders
    .fc-col-header thead {
        :first-child .fc-timegrid-axis {
            border-bottom-width: 0 !important;
        }

        :nth-child(2) .fc-timegrid-axis {
            border-top-width: 0;
            border-bottom: none !important;
        }
    }

    // Solid borders
    .fc-timegrid-slots>table>tbody>tr {
        &:has(.timeslot-large) td, td.whole-hour {
            border-top: 1px solid rgba(0, 0, 0, .3);
        }
    }

    td.fc-timegrid-slot:has(.timeslot-large) {
        border-top: 1px solid rgba(0, 0, 0, .3);
    }

    tbody>.fc-scrollgrid-section>td:first-child {
        border-bottom: 1px solid rgba(0, 0, 0, .3) !important;
    }

    td.fc-day {
        border-right: 1px solid rgba(0, 0, 0, .3);
    }

    // Remove margin and borders on background events
    .fc-bg-event {
        opacity: 1;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 0 !important;
    }

    // Separate days
    td.fc-day-mon:has(+ td.fc-day:not(.fc-day-mon)),
    td.fc-day-tue:has(+ td.fc-day:not(.fc-day-tue)),
    td.fc-day-wed:has(+ td.fc-day:not(.fc-day-wed)),
    td.fc-day-thu:has(+ td.fc-day:not(.fc-day-thu)),
    td.fc-day-fri:has(+ td.fc-day:not(.fc-day-fri)),
    td.fc-day-sat:has(+ td.fc-day:not(.fc-day-sat)),
    td.fc-day-sun:has(+ td.fc-day:not(.fc-day-sun)) {
        border-right: 2px solid rgba(0, 0, 0, .5) !important;
    }

    // Top left fix
    .fc-scrollgrid-section-header>th:first-child {
        th.fc-timegrid-axis {
            border-bottom: none !important;
        }

        border-right: none !important;
    }

    .fc-resource-daygrid .fc-scrollgrid-section-header>th:first-child {
        border-right: none !important;
    }

    // Remove border for top dates
    .fc-view>table.fc-scrollgrid {
        border-top: none;
    }

    // Date header
    .fc-header-toolbar {
        padding-left: 93px;
        
        .fc-toolbar-title {
            font-size: 1em;
            padding: 22px 0;
            
            &::first-letter {
                text-transform: capitalize;
            }
        }
    }

    th.fc-resource {
        overflow: hidden !important;
    }

    .jac-clickable-date-header, .jac-clickable-resource-label {
        cursor: pointer;
        color: #0000EE;
        text-decoration: underline;
    }
}