.jac-event.compact {
    padding: 0 4px !important;

    button {
        padding: 2px 4px !important;
    }

    .order-text {
        margin: 0;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;

    &.includes-orderNumber.includes-dateFinishedDisplay {
        /*display: grid;

        &:not(:has(.extra-fields)):not(:has(.patient)) {
            grid-template-areas: "orderNumber date";
        }

        &:has(.extra-fields):not(:has(.patient)) {
            grid-template-areas:
                "orderNumber date"
                "extraFields extraFields"
            ;
        }

        &:has(.extra-fields):has(.patient) {
            grid-template-areas:
                "orderNumber date"
                "extraFields extraFields"
                "patient patient"
            ;
        }*/

        .order-button {
            grid-area: orderNumber;
            margin-right: auto;
        }
        
        .top {
            margin-left: -2px;
            grid-area: date;
            flex-wrap: wrap;

            /*.clock-icon {
                margin-left: auto;
            }*/
        }
        .extra-fields { grid-area: extraFields; }
        .patient { grid-area: patient; }
    }

    .patient {
        margin-bottom: 0;
    }

    .urgent-icon {
        margin-right: 4px;
    }

    /*.patient-reference {
        word-break: break-word;
    }*/
}