.create-event {
    position: absolute;
    background: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    z-index: 999;

    button {
        margin: 4px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }

    .dropdown-input {
        cursor: pointer;

        border: 1px solid rgba(0, 0, 0, .3);

        &:focus {
            outline: none;
            border: 1px solid rgba(0, 0, 0, 1);
        }

        &:hover {
            border: 1px solid rgba(0, 0, 0, 1);
        }
    }

    .string-input {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, .3);

        &:focus {
            outline: none;
            border-bottom: 1px solid rgba(0, 0, 0, 1);
        }

        &:hover {
            border-bottom: 1px solid rgba(0, 0, 0, 1);
        }
    }

    .color-input {
        width: 40px;
        height: 40px;
        border: none; 
        padding: 0;
        cursor: pointer;
        border-radius: 50%;
        inline-size: 20px;
        block-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.3);

        &:hover {
            border: 1px solid rgba(0, 0, 0, 1);
        }
    }

    .time-input {
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, .3);

        &:focus {
            outline: none;
            border: 1px solid rgba(0, 0, 0, 1);
        }

        &:hover {
            border: 1px solid rgba(0, 0, 0, 1);
        }
    }
    
    .color-input::-webkit-color-swatch-wrapper {
        padding: 0px;
    }
      
    .color-input::-webkit-color-swatch {
        border-radius: 50%;
        border: none;
    }
    
    
    .icon {
        width: 1.3em;
        height: 1.3em;
        min-width: 1.3em;
        min-height: 1.3em;

        cursor: pointer;
    }
    
    .top-inputs {
        display: flex;
        justify-content: end;

        .cross {
            cursor: pointer;
            padding: 4px;

            
        }

        .cross:hover {
            background: rgba(0, 0, 0, .2) !important;
        }
    }
    
    .body-inputs {
        padding: 4px;
    } 

    .title-inputs {
        font-size: large;
        text-align: center;
    }

    .dropdown-input option {
        border-radius: 5px;
    }

    .inputs-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;

        .input-wrapper {
            margin-top: 5px;
        }
        
        p {
            margin: 0;
        }
    }

    .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
}