.createEvent {
    position: absolute;
    background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, .3);
    z-index: 999;
    
    .topCreate {
        display: flex;
        justify-content: end;

        .cross {
            cursor: pointer;
            padding: 4px;

            
        }

        .cross:hover {
            background: rgba(0, 0, 0, .2) !important;
        }
    }
    
    .bodyCreate {
        padding: 4px;
    } 

    .createTitle {
        font-size: large;
        text-align: center;
    }

    .inputsDiv {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;

        .inputsColorDiv {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        p {
            margin: 0;
        }
    }

    .buttonsDiv {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
}