.jac-field {
    display: inline-flex;
    align-items: center;
    margin-right: 4px;

    &.field-fullwidth {
        width: 100%;
        margin-right: 0;
    }

    button {
        margin-top: 1px;
    }
}