@import 'Collapse';
@import 'DatePicker';

@mixin padding {
    border-radius: 5px;
    padding: 4px;
}

.side-menu {
    width: 100%;
    height: 100vh;
    
    border-right: 1px solid rgba(0, 0, 0, .3);
    
    background: #F5F5F5;
    
    position: relative;
    z-index: 8;
    
    $px: 16px;
    $py: 8px;

    .toggle-button {
        position: absolute;
        top: 3px;
        right: -15px;
        
        width: 32px;
        height: 32px;
        
        padding: 4px 4px;
        
        z-index: 999;
        
        background-color: transparent;
        border: none;
        
        font-size: 2em;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding-inline: 0;
        
        @include buttonEffects;
        
        svg {
            width: 100%;
            height: 100%;
            
            stroke: var(--jac-dark-blue);
            color: var(--jac-dark-blue);

            stroke-width: .04em;
        }
    }
    
    .insertable-event {
        @include padding;

        margin-top: 2px;
        cursor: grab;
    }
    
    
    &.open {
        .toggle-button {
            transform: scaleX(-1);
            right: -17px;
        }

        .wrapper {
            padding: $py $px;
            padding-bottom: calc($py + 32px);
        }
    }
    
    .wrapper {
        width: 100%;
        max-width: calc(100% - ($px * 2));
        max-height: calc(100% - ($py * 2) - 32px);

        overflow: hidden auto;

        .divider {
            width: 100%;
            height: 1px;

            background-color: rgba(0, 0, 0, .3);

            margin: 16px 0;
        }

        .filter-divider {
            width: calc(100% - 16px);
            height: 1px;

            background-color: rgba(0, 0, 0, .3);

            margin: 16px 8px;
        }
    }

    .event-template-area {
        margin-bottom: 8px;
    }

    .insertable-events:not(:has(.collapse.collapsed)) .collapse-container, .collapse.search:not(.collapsed) .collapse-container {
        margin-top: 8px;
    }

    .search-dropdown {
        .dropdown-child {
            margin-top: 16px;
            max-height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid rgba(0, 0, 0, 0.3);

            

            .dropdown-child-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                padding: 6px;
                margin-right: 0;

                &:first-child {
                    border-top: none;
                }

                .dropdown-child-title{
                    margin: 0;
                    padding-bottom: 2px;
                }

                .forward-arrow{
                    transform: rotate(-90deg);
                    stroke: gray;
                    scale: 1.25;
                    stroke-width: .145em;
                }
            }
            .dropdown-child-header{
                display: flex;
                align-items: center;
                text-align: center;
                padding: 4px;

                p {
                    width: 100%;
                    margin: 0;
                    margin-left: -1em;
                }

                .back-arrow{
                    transform: rotate(90deg);
                    stroke: black;
                    scale: 1.25;
                    stroke-width: .145em;
                }
            }   
        }

        
    }
}

.insertable-event-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    flex-wrap: wrap;
}

body > .insertable-event.fc-event-dragging {
    @include padding;
}