@import 'mixins';

:root {
    --jac-font: Tahoma, Geneva, Verdana, sans-serif;

    // Colors
    --jac-text: #000000;
    --jac-background: #FFFFFF;
    --jac-background-gray: #D9D9D9;

    --jac-blue: #009CC6;
    --jac-dark-blue: #007494;

    --button-hover: rgba(0, 0, 0, .2);
    --button-active: rgba(0, 0, 0, .3);
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--jac-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    user-select: none;
    font-size: 0.9em;
}

.app-wrapper {
    width: 100%;

    display: grid;
    grid-template-columns: 20px 1fr;

    &:has(.side-menu.open) {
        grid-template-columns: 1fr 6fr;
    }

    &:not(:has(.side-menu)) {
        grid-template-columns: 1fr;

        .fc-view-harness {
            margin-left: 0 !important;
        }
    }
}